<ion-header>
</ion-header>

<ion-content class="background">

  <ion-card class="cardconteudo">
  </ion-card>
    <ion-card-header>
      <ion-icon name="logo-facebook" class="logo1"></ion-icon>
      <ion-icon name="logo-google" class="logo2"></ion-icon>
      <ion-icon name="logo-twitter" class="logo3"></ion-icon>
      <ion-icon name="key" class="logo4"></ion-icon>
      <ion-icon name="person" class="logo5"></ion-icon>
      <ion-text>
        <h1 style="font-size: 40px" color="ligth" class="title">ETB</h1>
      </ion-text>
      <h1 style="font-size: 20px" color="ligth" class="subtitle">Encourage de best</h1>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="ionicForm" (ngSubmit)="submitForm()">
        <ion-item class="form" type="color" value="#ffffff" class="input1" >
          <ion-input color="ligth" placeholder="Usuario" formControlName="nombre" style="font-size: 15px"></ion-input>
        </ion-item>
        <ion-item class="form1" type="color" value="#ffffff"  class="input2">
          <ion-input  color="ligth" placeholder="Contraseña" formControlName="password" style="font-size: 15px" type="password"></ion-input>
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-button type="submit" color="secondary" expand="block" class="boton" >Enviar</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-card-content>
    <ion-text>
      <h1 style="font-size: 15px" color="ligth" class="registro">No tienes una cuenta? <ion-text color="secondary" [routerLink]="['/registro']">Registrarse</ion-text> <br>
        <ion-text color="secondary">¿Olvidaste tu contraseña?</ion-text> </h1>
    </ion-text>
 

</ion-content>
