<ion-header>
  <ion-toolbar>
    <ion-title>registro ETB</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  
  <!--Caja de registro-->
  <ion-card color="light" class="caja-registro">
    <ion-card-header>
      <ion-card-title>Crear una cuenta</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form action="">
        <ion-item>
          <ion-label>Nombre</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label >Apellido</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item >
          <ion-label>Email</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item >
          <ion-label >Contraseña</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-button >Sign Up</ion-button>
      </form>

      <ion-text class="extra-options">
        By signing up, you agree with the 
        <a>Terms of Service</a> and <a> Privacy Policy </a>
      </ion-text>
      <ion-button >Already have an account? 
        <a [routerLink]= "['/app/login']" > Sign in</a>
      </ion-button>
       
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      Footer
    </ion-title>
  </ion-toolbar>
</ion-footer>