
@import url('https://fonts.googleapis.com/css?family=Numans');

ion-content.background{
    --background: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg') 0 0/100% 100% no-repeat;
}
.caja-registro {
    
    display: flex;
    opacity: 70%;
   
    flex-direction: column;
    justify-content: center;
    margin: auto 5em;
  

  }
  
  .extra-options {
    display: flex;
    margin-top: 1em;
    justify-content: center;
  }
  
  
  ion-button {
    --background: #a64d79;
    margin-top: 1em;
  }
  ion-card-title {
    --color: black;

  }