

ion-content.background{
    --background: url('https://media.discordapp.net/attachments/941137936093675593/1051658600654839828/tm-astro-bg.jpg?width=1894&height=1065') 0 0/100% 100% no-repeat;
}



  
  
  ion-button {
    --background: #a64d79;
    margin-top: 1em;
  }
 