@import url('https://fonts.googleapis.com/css?family=Numans');

ion-content.background{
    --background: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg') 0 0/100% 100% no-repeat;
}

.caja-olvidoC {
    opacity: 70%;
  
}

ion-button {
    --background: #a64d79;
    margin-top: 1em;
  }