<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Menu ETB</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-menu-toggle autoHide="false" >
          <ion-item [routerLink]="['/game']" class="item-background-color" >
            <ion-label style="font-size: 15px">
              Iniciar juego
            </ion-label>
          </ion-item>
          <ion-item [routerLink]="['/login']">
            <ion-label style="font-size: 15px">
              Herramienta de consulta
            </ion-label>
          </ion-item>
          <ion-item [routerLink]="['/login']">
            <ion-label style="font-size: 15px">
              Regresar a la página principal
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">

    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title style="font-size: 13px" class="title1">Encourage the best-ETB</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" >
      <ion-text>
        <h1 style="font-size: 15px" color="ligth" class="title">Equipos de fibra óptica</h1>
      </ion-text>
      <div class="verticalLine"></div>
      
        
        <ion-slides pager="true" >
          <!--Slide 1-->
          <ion-slide> 
            <ion-card class="slide-1">
              <h1 style="font-size: 15px" color="secondary" class="title"><strong>Instalación ZNHN</strong></h1>
              <img class="imgs" src="https://media.discordapp.net/attachments/941137936093675593/1053853205123051570/manual.png" alt="manual">
              <p style="font-size: 15px" class="message">Estos dispositivos se instalan en zonas residenciales y corporativas que tienen  fibra óptica. Se debe tener el equipo con entrada "Laser 1". </p>
            </ion-card>
          </ion-slide>
          <!--Slide 2-->
          <ion-slide> 
            <ion-card class="slide-1">
              <h1 style="font-size: 15px" color="secondary" class="title2"><strong>Paso 1</strong></h1>
              <img class="imgs" src="https://media.discordapp.net/attachments/941137936093675593/1053853261792296970/paso1.png" alt="paso1">
              <p style="font-size: 15px" class="message">Verificar que el dispositivo se encuentre conectado al UTP, cable adaptador de energia al módem. </p>
            </ion-card>
          </ion-slide>
          <!--Slide 3-->
          <ion-slide> 
            <ion-card class="slide-1">
              <h1 style="font-size: 15px" color="secondary" class="title2"><strong>Paso 2</strong></h1>
              <img class="imgs" src="https://media.discordapp.net/attachments/941137936093675593/1053853329073127474/paso2.png" alt="paso2">
              <p style="font-size: 15px" class="message">Visualizar si esta funcionando correctamente el módem al oprimir el boton de encendido durante 3 segundos. </p>
            </ion-card>
          </ion-slide>
          <!--Slide 4-->
          <ion-slide> 
            <ion-card class="slide-1">
              <h1 style="font-size: 15px" color="secondary" class="title2"><strong>Paso 3</strong></h1>
              <img class="imgs" src="https://media.discordapp.net/attachments/941137936093675593/1053859332204281877/paso3.png" alt="paso3">
              <p style="font-size: 15px" class="message">Observar los indicadores led del módem. Deben encender Datos 1, Datos 2 de acuerdo al puerto que se haya conectado. </p>
            </ion-card>
          </ion-slide>
          <!--Slide 5-->
          <ion-slide> 
            <ion-card class="slide-1">
              <h1 style="font-size: 15px" color="secondary" class="title2"><strong>Paso 4</strong></h1>
              <img class="imgs" src="https://media.discordapp.net/attachments/941137936093675593/1053853561538232390/paso4.png" alt="paso4">
              <p style="font-size: 15px" class="message">Conecte el computador por cable en algunos de los puertos de Datos 1 o Datos 2. </p>
            </ion-card>
          </ion-slide>
          <!--Slide 6-->
          <ion-slide> 
            <ion-card class="slide-1">
              <h1 style="font-size: 15px" color="secondary" class="title2"><strong>Paso 5</strong></h1>
              <img class="imgs" src="https://media.discordapp.net/attachments/941137936093675593/1053853561945075712/paso5.png" alt="paso5">
              <p style="font-size: 15px" class="message">Verifique que el indicador led encienda de acuerdo a dinde lo haya conectado; ya sea en Datos1 o en Datos2. </p>
            </ion-card>
          </ion-slide>
          <!--Slide 7-->
          <ion-slide> 
            <ion-card class="slide-1">
              <h1 style="font-size: 15px" color="secondary" class="title2"><strong>Paso 6</strong></h1>
              <img class="imgs" src="https://media.discordapp.net/attachments/941137936093675593/1053853622326276106/paso6.png" alt="paso6">
              <p style="font-size: 15px" class="message">Intente realizar la navegación por internet desde en computador. </p>
            </ion-card>
          </ion-slide>
          <!--Slide 8-->
          <ion-slide> 
            <ion-card class="slide-1">
              <h1 style="font-size: 15px" color="secondary" class="title2"><strong>Posibles Fallas</strong></h1>
              <img class="imgs" src="https://media.discordapp.net/attachments/941137936093675593/1053853666001571881/paso7.png" alt="paso7">
              <p style="font-size: 15px" class="message">En caso de que no sea posible realizar alguno de los 6 pasos  -existe alguna falla. Reinicie el módem. </p>
            </ion-card>
          </ion-slide>
          <!--Slide 9-->
          <ion-slide> 
            <ion-card class="slide-1">
              <h1 style="font-size: 15px" color="secondary" class="title2"><strong>Posibles Fallas</strong></h1>
              <img class="imgs" src="https://media.discordapp.net/attachments/941137936093675593/1053859332204281877/paso3.png" alt="paso8">
              <p style="font-size: 15px" class="message">Conecte nuevamente el módem y espere 5 minutos mientras encienden todos los led. Intente hacer la prueba de conexión siguiendo pasos 1,2,3,4,5 y 6. </p>
            </ion-card>
          </ion-slide>
          <!--Slide 10-->
          <ion-slide> 
            <ion-card class="slide-1">
              <h2 style="font-size: 15px" class="title3">Fin de la lección!</h2>
            </ion-card>
          </ion-slide>
          

          
        </ion-slides>
       
        
        

      </ion-content>
  </div>
  <div class="verticalLine1"></div>
  <ion-button [routerLink]="['/herramienta']">Regresar</ion-button>
  
</ion-app>